{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "useTabs": true,
  "printWidth": 100,
  "overrides": [
    {
      "files": [".*", "*.json", "*.md", "*.mdx", "*.toml", "*.yml"],
      "options": {
        "useTabs": false
      }
    }
  ]
}
