{
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": true,
	"singleQuote": false,
	"useTabs": true,
	"overrides": [
		{
			"files": "*.mdx",
			"options": {
				"proseWrap": "never",
				"parser": "mdx"
			}
		}
	]
}
