.expressive-code-overrides .expressive-code {
	@apply font-mono my-4;
}

.expressive-code-overrides .expressive-code .frame {
	@apply rounded-xl shadow-none ring-1 ring-slate-300/10;
}

.expressive-code-overrides .expressive-code .frame.is-terminal .header {
	@apply border-solid border-b border-x-0 border-t-0 border-slate-600/20;
}

.expressive-code-overrides .expressive-code pre {
	@apply rounded-xl;
}

.expressive-code-overrides .expressive-code pre > code {
	@apply font-mono;
}

.expressive-code-overrides .expressive-code .copy button {
	@apply rounded-lg bg-transparent;
}

.expressive-code-overrides .expressive-code .copy .feedback {
	@apply bg-blue-500;
}

.expressive-code-overrides .expressive-code .copy .feedback::after {
	@apply border-l-blue-500;
}

/* Scroll bar */
.expressive-code-overrides .expressive-code pre {
	scrollbar-color: #8a99ae transparent;
	scrollbar-width: thin;
}
