@font-face {
	font-family: "Lexend";
	src: url("/fonts/lexend.woff2") format("woff2");
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: "Lexend";
	src: url("/fonts/lexend.woff2") format("woff2");
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Lexend";
	src: url("fonts/lexend.woff2") format("woff2");
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: "Lexend";
	src: url("fonts/lexend.woff2") format("woff2");
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: "Lexend";
	src: url("fonts/lexend.woff2") format("woff2");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Lexend";
	src: url("fonts/lexend.woff2") format("woff2");
	font-style: normal;
	font-weight: 800;
	font-display: swap;
}

@font-face {
	font-family: "Lexend";
	src: url("fonts/lexend.woff2") format("woff2");
	font-style: normal;
	font-weight: 900;
	font-display: swap;
}

@font-face {
	font-family: "Inter";
	src: url("/fonts/Inter-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GeistMono";
	src: url("/fonts/GeistMono-Regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "GeistMono";
	src: url("/fonts/GeistMono-Regular.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

:root {
	--font-lexend: "Lexend", sans-serif;
	--font-inter: "Inter", sans-serif;
	--font-geist-mono: "GeistMono", monospace;
}
