@font-face {
  font-family: 'Lexend';
  src: url('/fonts/lexend.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-lexend: 'Lexend', sans-serif;
  --font-inter: 'Inter', sans-serif;
}