@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita/Gordita-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Gordita/Gordita-Regular.woff") format("woff"),
    url("./fonts/Gordita/Gordita-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita/Gordita-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Gordita/Gordita-Thin.woff") format("woff"),
    url("./fonts/Gordita/Gordita-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita/Gordita-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Gordita/Gordita-Medium.woff") format("woff"),
    url("./fonts/Gordita/Gordita-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: "Gordita";
  src: url("./fonts/Gordita/Gordita-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/Gordita/Gordita-Bold.woff") format("woff"),
    url("./fonts/Gordita/Gordita-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
}
