@import "tailwindcss/base";
@import "./styles/prism.css";
@import "./styles/expressive-code.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styles/fonts.css";

html {
	scroll-behavior: smooth;
	scroll-padding-top: 6rem;
}

@layer base {
	.prose h1,
	.prose h2 {
		@apply mt-0;
	}

	[inert] ::-webkit-scrollbar {
		display: none;
	}

	/* Scroll bar */
	html,
	.custom-scrollbar {
		scrollbar-color: #8a99ae rgb(71 85 105 / 0.6);
		scrollbar-width: thin;
	}

	img {
		@apply rounded-xl;
	}
}

@layer components {
	.shiki.material-theme-ocean {
		background-color: transparent !important;
	}
}

.navigation_collapsible {
	overflow: hidden;
	animation: slideUp 300ms ease-out;
}
.navigation_collapsible[data-expanded] {
	animation: slideDown 300ms ease-out;
}
@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--kb-collapsible-content-height);
	}
}
@keyframes slideUp {
	from {
		height: var(--kb-collapsible-content-height);
	}
	to {
		height: 0;
	}
}
