@import "tailwindcss/base";
@import "./styles/prism.css";
@import "./styles/expressive-code.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styles/fonts.css";


@layer base {
  
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 6rem;
		color-scheme: light;
	}

	html.dark {
		color-scheme: dark;
	}
  
	/** Scroll bar */

	/**
	 * `html`
	 * Applies colors to the main *native* browser scrollbar.
	 *
	 * `html.firefox .custom-scrollbar`
	 * On firefox all scrollbars are native. This styles them with our custom colors.
	*/
	html,
	html.firefox .custom-scrollbar {
		scrollbar-color: #778292 #e7ecf2;
		scrollbar-width: thin;
	}
	html.dark,
	html.dark.firefox .custom-scrollbar {
		scrollbar-color: #8a99ae #313c50;
		scrollbar-width: thin;
	}
	/**
	 * `scrollbar-color` is inherited and that will break all `.custom-scrollbar` by making them native.
	 * This prevents inheritance, but only when is not firefox, as firefox only uses *native* scrollbars. */
	html:not(.firefox) body {
		scrollbar-color: initial;
		scrollbar-width: initial;
	}

	.custom-scrollbar::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	.custom-scrollbar::-webkit-scrollbar {
		@apply w-5 h-5 bg-slate-200/80 rounded-xl border-[6px] border-solid border-transparent;
		background-clip: content-box;
	}
	.dark .custom-scrollbar::-webkit-scrollbar {
		@apply bg-slate-600/60;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		@apply bg-slate-600/70 rounded-xl border-[6px] border-solid border-transparent;
		background-clip: content-box;
	}
	.dark .custom-scrollbar::-webkit-scrollbar-thumb {
		@apply bg-slate-400/90;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		@apply bg-slate-600;
	}
	.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
		@apply bg-slate-200/70;
	}

	.prose h1,
	.prose h2 {
		@apply mt-0;
	}

	img {
		@apply rounded-xl;
	}
}

@layer components {
	.shiki.material-theme-ocean {
		background-color: transparent !important;
	}
}

.navigation_collapsible {
	overflow: hidden;
	animation: slideUp 300ms ease-out;
}
.navigation_collapsible[data-expanded] {
	animation: slideDown 300ms ease-out;
}
@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--kb-collapsible-content-height);
	}
}
@keyframes slideUp {
	from {
		height: var(--kb-collapsible-content-height);
	}
	to {
		height: 0;
	}
}
