@import "tailwindcss/base";
@import "./styles/prism.css";
@import "./styles/expressive-code.css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./styles/fonts.css";

@layer base {
	html {
		scroll-behavior: smooth;
		scroll-padding-top: 6rem;
		color-scheme: light;
	}

	html.dark {
		color-scheme: dark;
	}

	/* Scroll bar */
	.custom-scrollbar::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	.custom-scrollbar::-webkit-scrollbar {
		@apply w-5 h-5 bg-slate-200/80 rounded-xl border-[6px] border-solid border-transparent;
		background-clip: content-box;
	}
	.dark .custom-scrollbar::-webkit-scrollbar {
		@apply bg-slate-600/60;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb {
		@apply bg-slate-600/70 rounded-xl border-[6px] border-solid border-transparent;
		background-clip: content-box;
	}
	.dark .custom-scrollbar::-webkit-scrollbar-thumb {
		@apply bg-slate-400/90;
	}

	.custom-scrollbar::-webkit-scrollbar-thumb:hover {
		@apply bg-slate-600;
	}
	.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
		@apply bg-slate-200/70;
	}

	.prose h1,
	.prose h2 {
		@apply mt-0;
	}

	[inert] ::-webkit-scrollbar {
		display: none;
	}

	/* Scroll bar */
	html,
	.custom-scrollbar {
		scrollbar-color: #8a99ae rgb(71 85 105 / 0.6);
		scrollbar-width: thin;
	}

	img {
		@apply rounded-xl;
	}
}

@layer components {
	.shiki.material-theme-ocean {
		background-color: transparent !important;
	}
}

.navigation_collapsible {
	overflow: hidden;
	animation: slideUp 300ms ease-out;
}
.navigation_collapsible[data-expanded] {
	animation: slideDown 300ms ease-out;
}
@keyframes slideDown {
	from {
		height: 0;
	}
	to {
		height: var(--kb-collapsible-content-height);
	}
}
@keyframes slideUp {
	from {
		height: var(--kb-collapsible-content-height);
	}
	to {
		height: 0;
	}
}
