.aside pre.shiki {
  height: auto;
  width: 100%;
  max-width: 100%;
}

.aside p {
  margin: 0;
}

.aside p a,
.dark .aside p a {
  color: white;
  text-decoration: underline;
  text-decoration-color: #85c4ff;
}
